.bottom-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;

  &__paragraph-top {
    width: 60%;
    margin-bottom: 7%;

    p {
      @include fontPlayfairItalic;
      font-size: 2.5rem;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      margin-top: 10%;
    }
  }

  &__img {
    width: 75%;

    img {
      height: 100%;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__paragraph-bottom {
    width: 75%;
    display: flex;
    margin: 5% 0;

    p {
      color: black;
      font-size: 5rem;
      @include fontPlayfairItalic;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
        margin: 10% 0;
      }
    }
  }

  .text-grey {
    font-family: $fontParagraph;
    color: $greyD5;
  }

  &__underline {
    width: 175px;
    height: 10px;
    background-color: $red;
    position: absolute;
    top: 77%;
    left: 0;
    z-index: -1;
  }

  &__glasses-news {
    display: flex;
    align-items: center;
    width: 75%;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__glasses {
    width: 80%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__news {
    height: 250px;
    width: 250px;
    background-color: $red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
      @include fontPlayfairNormal;
      font-size: 1.6rem;
      color: white;
    }

    @media screen and (max-width: 768px) {
      height: 150px;
      width: 150px;
      margin-top: 10%;
    }
  }

  &__container-text-arrow {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      height: 45%;
    }
  }

  &__arrow {
    width: 55px;
    height: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__points {
    background-image: url('../assets/points-news.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
