.carouselGlasses {
  padding: 20px;
  margin-top: 10%;
  user-select: none;
  background-color: blue;

  &__radio {
    display: none;
  }

  &__slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;

    label {
      margin: auto;
      width: 60%;
      height: 100%;
      border-radius: 4px;
      position: absolute;
      left: 0;
      right: 0;
      cursor: pointer;
      transition: transform 0.4s ease;
    }
  }
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-70%, -150px, -200px) scale(0.5); // valeur du milieu pour le bouger sur l'axe des y
  opacity: 0.5;
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 150px, 0); // valeur du milieu pour le bouger sur l'axe des y
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(70%, -150px, -200px) scale(0.5); // valeur du milieu pour le bouger sur l'axe des y
  opacity: 0.5;
}

.pointer-events {
  pointer-events: none;
}
