// Catalogue
.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  &__img {
    width: 80%;
    text-align: center;
  }

  &__title {
    text-align: center;
    font-size: 4em;
    @include fontPlayfairTitles;
    margin-bottom: 10%;

    @media screen and (max-width: 768px) {
      font-size: 3em;
    }
  }
}

// ModelCardList
.modelcard-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// ModelCard
.modelcard {
  min-width: 260px;
  max-width: 30%;
  box-shadow: rgb(242, 243, 251) -2px 2px 12px;
  margin: 10px;
  font-family: $fontParagraph;
  transition: 0.3s;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    box-shadow: rgb(222, 225, 243) -8px 8px 20px;
  }

  h2 {
    margin-left: 4%;
    margin-top: 2%;
  }

  p,
  &__title,
  &__img {
    margin-bottom: 5%;
  }

  p {
    color: $grey99;
    text-align: justify;
    margin-left: 4%;
    margin-right: 2%;
  }

  &__img {
    width: 100%;
  }

  &__button {
    background-color: transparent;
    font-family: $fontButton;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 30px;
    margin-left: 4%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: solid black 2px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $red;
      color: $beige;
    }
  }
}
