.section_ou_nous_trouver {
  padding-top: 10em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__h2 {
    grid-row: 1/2;
    grid-column: 4/8;
    display: flex;
    justify-content: center;
    font-size: 4em;
    font: $playfair;
    font-weight: medium;

    @media screen and (max-width: 768px) {
      font-size: 2em;
    }
  }
  &__carte_depliante {
    grid-row: 2/3;
    grid-column: 5/7;
    justify-self: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__points {
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 80%;
    transform: translatex(100%);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__trait_vertical {
    grid-row: 1/2;
    grid-column: 4/8;
    max-height: 80%;
    transform: translate(1em, 2em);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__moyen_cercle_gris {
    grid-row: 1/2;
    grid-column: 8/9;
    height: 2em;
    align-self: center;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__trait_oblique {
    grid-row: 2/3;
    grid-column: 10/11;
    width: 4em;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__moyen_cercle_gris2 {
    grid-row: 6/7;
    grid-column: 2/3;
    height: 3em;
    align-self: center;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__grand_trait_oblique {
    grid-row: 6/7;
    grid-column: 3/4;
    transform: translateY(1em);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__petit_cercle_rouge {
    grid-row: 6/7;
    grid-column: 4/5;
    width: 1em;
    align-self: end;
    transform: translate(-1em, -2em);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__maps {
    grid-row: 3/6;
    grid-column: 1/11;
    width: 85%;
    height: 85vh;
    padding-left: 3em;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin: 0;
    }
  }
  &__child1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    box-shadow: 0 0 20px 10px white inset;
    z-index: 25;
    transform: translateY(-100%);
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      padding: 0;
      margin: 0;
    }
  }

  &__info_window {
    h4 {
      padding-top: 1em;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      padding-top: 1em;
    }
  }

  &__opening_hours {
    display: flex;
    justify-content: space-between;
  }
}
.gm-style .gm-style-iw-c {
  h2 {
    color: $red;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  img {
    width: 100%;
  }
  font-size: 1.2em;
  box-shadow: none;
  width: 350px;
  max-height: none;
}

.gm-style .gm-style-iw-t {
  transform: translateY(3em);
}
