.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__logo {
    height: 30px;
    width: 110px;
    padding-left: 5%;

    @media screen and (max-width: 600px) {
      display: none;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 5%;

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      padding-right: 0;
      margin-top: 7%;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    list-style: none;
    font-family: $fontParagraph;

    @media screen and (max-width: 600px) {
      justify-content: space-around;
      margin-bottom: 1%;
    }

    a {
      color: black;
      margin-right: 10%;
      word-wrap: normal;
      white-space: nowrap;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        margin-right: 0;
      }
    }
  }

  &__networks {
    @include flexCenter;
    @media screen and (max-width: 600px) {
      height: 25px;
      margin-bottom: 3%;
    }
  }

  &__facebook, &__linkedin, &__instagram {
    height: 30px;
    width: 30px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      height: 25px;
      width: 25px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      filter: saturate(0%);

      &:hover {
        filter: saturate(100%);
      }
    }
  }

  &__facebook, &__linkedin {
    margin-right: 2vw;
    @media screen and (max-width: 600px) {
      margin-right: 10%;
    }
  }
}