.home {
  display: grid;
  grid-template-columns: 1fr 100px;
  margin-left: 5%;

  &__carrousel {
    font-size: 2.6rem;

    h2 {
      color: $greyAF;
      font-size: 0.8rem;
      margin-bottom: 10px;
      font-family: $playfair;
    }

    h1 {
      margin-bottom: 30px;
      font-family: $playfair;
    }

    p {
      color: $grey95;
      font-size: 1rem;
      line-height: 1.6rem;
    }
  }

  &__title {
    position: relative;
  }

  .black-text {
    color: black;
  }

  &__text {
    padding-top: 7%;
  }

  &__underline {
    position: absolute;
    height: 11px;
    width: 240px;
    background-color: $orange;
    top: 84px;
    left: -4px;
    z-index: -10;
  }
}
