$widthLeftContainer: 45%;
$widthRightContainer: calc(100% - $widthLeftContainer);

.login-container {
  display: flex;
  width: 80%;
  height: 80vh;
  box-shadow: #69687c 5px 5px 20px;
  margin: auto;

  &__img-container {
    display: flex;
    align-items: center;
    width: $widthLeftContainer;
    height: 100%;
    background-image: url('../assets/COQUE_Plan de travail 1.png');
    background-position: center;
    background-size: 130% auto;
    background-repeat: no-repeat;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: $widthRightContainer;
    height: 100%;

    > * {
      margin-bottom: 5%;
    }

    h1 {
      font-size: 1.5em;
    }

    form {
      width: 80%;

      input {
        padding: 15px;
        border: rgb(24, 24, 24) solid 2px;
        box-sizing: border-box;
      }

      #login-email {
        border-right: 0px;
      }

      #login-email,
      #login-password {
        width: 50%;
      }

      #login-submit {
        width: 100%;
        background-color: rgb(34, 34, 34);
        color: lightgray;
        cursor: pointer;
      }
    }
    input,
    p {
      font-size: 0.7em;
      letter-spacing: 3px;
    }
  }
}
