.mapssearchbar {
  grid-area: 3 / 4 / 4 / 8;
  input {
    color: $red;
    height: 3em;
    width: 20vw;
    //font-size: 1.5em;
    border: solid grey;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    top: 3rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
    text-align: center;

    @media screen and (max-width: 750px) {
      display: flex;
      flex-direction: column;
      transform: translateY(0);
      position: initial;
      width: 100%;
    }
  }
  input:focus {
    outline-color: none;
    outline: none;
  }
  input::placeholder {
    color: grey;
  }

  @media screen and (max-width: 750px) {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    position: initial;
    padding-top: 2em;
  }
}
[data-reach-combobox-option] {
  cursor: pointer;
  font-size: 1.5em;
  color: grey;
  margin: 0;
  padding: 0.25rem 0.5rem;
}
[data-reach-combobox-input] {
  border: 10px;
}
