// FONTS

@mixin fontPlayfairItalic {
  font-family: $playfair;
  font-weight: 700;
  font-style: italic;
}

@mixin fontPlayfairNormal {
  font-family: $playfair;
  font-weight: 400;
  font-style: normal;
}

@mixin fontPlayfairTitles {
  font-family: $playfair;
  font-weight: 700;
  font-style: normal;
}

@mixin fontMontserrat {
  font-family: $montserrat;
  font-weight: 300;
}

// INPUT

@mixin closeTopRight {
  position: absolute;
  top: 20px;
  right: 30px;
  letter-spacing: 2px;
}

@mixin ButtonBottomRight {
  position: absolute;
  bottom: 4%;
  right: 5%;
}
