.modalWishlists {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: $fontParagraph;

  &__container {
    width: 70%;
    height: 60%;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
    top: 1vh;
    text-align: center;
  }

  h2 {
    margin-bottom: 2%;
  }

  &__input {
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;

    input {
      width: 30%;
      margin-right: 5%;
      border: $beige solid 1px;
      border-radius: $borderRadiusButton;
      box-sizing: border-box;
      text-align: center;
      font-family: $fontParagraph;
      font-size: 1.5em;
      transition: 0.3s;
      &:focus:not(#pro-or-user) {
        outline: solid 1px $red;
      }
      &:hover {
        background-color: $beige;
        border: $red solid 1px;
      }
    }

    button {
      width: 8%;
      font-family: $fontButton;
      font-size: 0.8em;
      border: none;
      border-radius: $borderRadiusButton;
      background: $red;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
  }

  &__list {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  &__name-wishlist {
    border: 1px solid $red;
    width: 50%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: $borderRadiusButton;
    cursor: pointer;
    text-align: center;
    color: $red;
    font-size: 1.5em;
    transition: 0.3s;

    &:hover {
      background-color: $red;
      color: $beige;
    }
  }

  &__error {
    margin-top: -4%;
    margin-bottom: 5%;
    color: $red;
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  .modalWishlists {
    &__input {
      input {
        font-size: 1.2rem;
      }
    }

    &__name-wishlist {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1180px) {
  .modalWishlists {
    &__input {
      flex-direction: column;
      align-items: center;

      input {
        margin-right: 0;
        margin-bottom: 2%;
        width: 60%;
      }

      button {
        width: 96px;
      }
    }

    &__name-wishlist {
      width: 90%;
    }
  }
}

@media screen and (max-width: 590px) {
  .modalWishlists {
    &__input {
      input {
        font-size: 0.8rem;
      }
    }

    &__name-wishlist {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .modalWishlists {
    &__input {
      input {
        width: 80%;
      }
    }
  }
}
