.modal-info {
  width: 80%;
  margin: auto;
  height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  font-family: $fontParagraph;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    position: relative;
    box-shadow: rgb(200, 203, 209) 5px 5px 20px;
    top: calc(6em + 5px);
  }

  &__close {
    @include closeTopRight;
    font-family: $fontParagraph;
    font-size: 1em;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 10;
  }

  &__img-flex {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
    }
  }

  &__img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    img {
      width: 90%;
    }

    &--main {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    &--main,
    &--2,
    &--3,
    &--4,
    &--5 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 2rem;
      text-align: center;
    }

    .greyC4 {
      color: $greyC4;
      margin-top: 10%;
      margin-bottom: 2%;
    }

    .uppercase {
      text-transform: uppercase;
      font-size: 1rem;
      text-align: center;
    }

    .dropdown-list {
      height: 45px;
      width: 250px;
      margin-bottom: 10%;
      cursor: pointer;

      select {
        height: 100%;
        width: 100%;
        appearance: none;
        border: $beige 1px solid;
        border-radius: $borderRadiusButton;
        padding: 5px;
        color: $red;
        cursor: pointer;
        font-family: $fontButton;
        background-color: #fff;
        outline: none;
        transition: 0.3s;
        &:hover {
          border: $red solid 1px;
        }
      }
    }
  }

  &__btn {
    height: 45px;
    width: 250px;
    background-color: $red;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &--heart {
      height: 15px;
      width: 15px;
      padding-right: 5%;

      img {
        height: 100%;
        width: 100%;
      }
    }

    p {
      padding-left: 10%;
    }
  }

  &__container-btn {
    margin-top: 10%;
  }
}

@media screen and (max-width: 980px) {
  .modal-info {
    &__content {
      flex-direction: column;
    }

    &__img {
      margin-bottom: 5%;
    }
  }
}

@media screen and (max-width: 370px) {
  .modal-info {
    &__text {
      .dropdown-list {
        width: 170px;
      }
    }

    &__btn {
      width: 170px;
      font-size: 0.8rem;
    }
  }
}
