.navbar {
  @include fontMontserrat;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background-color: white;

  @media screen and (max-width: 768px) {
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  @media screen and (max-width: 500px) {
    height: 80px;
  }

  &__contact_profil {
    display: none;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
      width: 100px;
      height: 100px;
    }

    @media screen and (max-width: 500px) {
      width: 80px;
      height: 80px;
    }
  }

  &__logo {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;

    img {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
      align-items: center;
      margin-left: 2em;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 65%;
    margin-right: 5%;
    font-size: 1.05rem;
    z-index: 1001;

    ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: $greyNavbar;
    }
  }

  &__menu-burger {
    height: 100px;
    width: 100px;
    background-color: $red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1100px) {
      cursor: pointer;
    }

    @media screen and (max-width: 500px) {
      height: 80px;
    }
  }

  &__line {
    height: 2px;
    width: 25px;
    background-color: white;
  }

  &__middle-line {
    height: 2px;
    width: 30px;
    background-color: white;
    margin: 10px 0;
  }
}
@media screen and (max-width: 1100px) {
  .navbar__menu.show-nav {
    position: fixed;
    top: 6rem;
    left: 0;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 80%;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      width: 100vw;
      height: 100vw;
    }
    .navbar__contact_profil {
      display: block;
      display: flex;
      justify-content: space-around;

      margin-bottom: 2em;
    }
  }
  .hide-nav {
    position: absolute;
    transform: translateX(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .navbar__menu.show-nav {
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .navbar__menu.show-nav {
    top: 80px;
  }
}
