// Local SCSS variables
$widthInfo: 60%;
$widthStore: calc(100% - $widthInfo);
$heightStoreName: 20%;
$heightInfoTexts: calc((100% - $heightStoreName) / 3);
$heightInfoImg: calc(100% - $heightStoreName);

// Component main container
.profile-component-container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  p {
    font-family: $fontParagraph;
  }
}

// Message when user is not connected
.please-connect {
  padding-top: calc(25% - 50px);
  padding-left: 25%;
  font-size: 50px;
  font-family: $fontParagraph;

  strong {
    font-weight: normal;
    text-decoration: underline;
    transition: 0.5s;
    &:hover {
      color: $red;
    }
  }
}

// "Modal" container
.optician-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  position: relative;
  box-shadow: rgb(200, 203, 209) 5px 5px 20px;
  top: 3vh;

  &__store-name {
    @include flexCenter;
    height: $heightStoreName;
    h1 {
      font-family: $playfair;
      font-size: 4em;
      text-align: center;
    }
  }

  // contains all info but store-name
  &__data-container {
    display: flex;
    width: 95%;
    height: 70%;
  }

  // contains all textual info (i.e. left container of the profile)
  &__info-texts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: $widthInfo;
    height: 80%;
    margin: auto;
  }

  &__info-icons {
    height: 80%;
    margin-left: 15%;
  }

  &__info-subcontainers {
    display: flex;
    align-items: center;
    height: $heightInfoTexts;
    p {
      font-size: 1.3em;
      margin-left: 5%;
      line-height: 2rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  // contains the profile picture and its container (i.e. right container of the profile)
  &__info-img-container {
    @include flexCenter;
    flex-direction: column;
    width: $widthStore;
    position: relative;
  }

  &__profile-picture-container {
    @include flexCenter;
    flex-direction: column;
    height: $heightInfoImg;
  }

  &__profile-picture {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__profile-picture-container,
  &__profile-picture {
    border-radius: $borderRadiusButton;
  }

  // Top-right closing button "FERMER"
  &__close {
    @include closeTopRight;
    font-size: 1em;
    letter-spacing: 3px;
    cursor: pointer;
  }

  // Edit-Validate-DropChanges buttons
  &__edit {
    @include ButtonBottomRight;
    font-family: $fontButton;
    border: none;
    border-radius: $borderRadiusButton;
    background: $red;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }

  // SaveChanges button
  &__save-changes {
    position: absolute;
    bottom: 4%;
    right: 25%;
    font-family: $fontButton;
    border: none;
    border-radius: $borderRadiusButton;
    background: #23794e;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  input[type='text'] {
    border: $beige solid 1px;
    border-radius: $borderRadiusButton;
    box-sizing: border-box;
    text-align: center;
    font-family: $fontParagraph;
    font-size: 0.8em;
    transition: 0.3s;
    &:hover {
      background-color: $beige;
      border: $red solid 1px;
    }
  }
}

// Horizontal separators of info-texts subcontainers
hr {
  width: 80%;
  margin: auto;
  border: solid 1px $greyF3;
}
