$widthInfo: 55%;
$widthStore: calc(100% - $widthInfo);
$heightInfoImg: 50%;
$heightInfoTexts: calc((100% - $heightInfoImg) / 3);

.profile-component-container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.please-connect {
  padding-top: calc(25% - 50px);
  padding-left: 25%;
  font-size: 50px;
  font-family: $fontParagraph;
}

.optician-profile {
  display: flex;
  width: 100%;
  height: 80vh;
  position: relative;
  box-shadow: rgb(200, 203, 209) 5px 5px 20px;
  top: 3vh;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: $widthInfo;
    height: 80%;
    margin: auto;
  }

  &__info-img-container {
    @include flexCenter;
    height: $heightInfoImg;
  }

  &__info-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  &__info-icons {
    height: 80%;
    margin-left: 15%;
  }

  &__info-containers {
    display: flex;
    align-items: center;
    height: $heightInfoTexts;
    p {
      font-size: 1.3em;
      margin-left: 5%;
      line-height: 1.8rem;
      font-family: 'FuturaPT', sans-serif;
      font-weight: bold;
    }
  }

  &__store {
    @include flexCenter;
    flex-direction: column;
    width: $widthStore;
    position: relative;
  }

  &__close {
    @include closeTopRight;
    font-family: $fontParagraph;
    font-size: 1em;
    letter-spacing: 3px;
    cursor: pointer;
  }

  &__store-img {
    width: 60%;
    height: auto;
    object-fit: contain;
  }

  &__store-name {
    font-family: $playfair;
    font-size: 2.5em;
    text-align: center;
  }

  &__edit {
    @include ButtonBottomRight;
    font-family: $fontButton;
    border: none;
    border-radius: $borderRadiusButton;
    background: $red;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }

  &__save-changes {
    position: absolute;
    bottom: 30px;
    right: 150px;
    font-family: $fontButton;
    border: none;
    border-radius: $borderRadiusButton;
    background: $red;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
}

hr {
  width: 80%;
  margin: auto;
  border: solid 1px $greyF3;
}
