.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  z-index: 2;

  .letter {
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .box {
    height: 35px;
    width: 35px;

    img {
      width: 100%;
    }
  }

  .profil {
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
