$red: #79232f;
$beige: #f4efd8;
$orange: #f89808;
$greyF3: #f3f3f3;
$greyF6: #f6f6f6;
$grey99: #999999;
$greyDB: #dbdbdb;
$greyCC: #cccccc;
$darkgrey: #787878;
$blackNumbers: #202020;
$blackTitles: #343434;
