.whatIsLunetic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;

  &__subtitle {
    position: relative;
    width: 100%;
  }

  &__container {
    position: relative;
  }

  &__p {
    font-size: 8.75rem;
    text-align: center;
    line-height: 170px;
    color: $greyF3;
    @include fontMontserrat;
  }

  &__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-align: center;
    @include fontPlayfairNormal;
  }

  &__medium-square {
    background-image: url('../assets/carre-moyen.png');
    height: 88px;
    width: 88px;
    top: 0;
    right: 5%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &__little-square {
    background-image: url('../assets/carre-moyen.png');
    height: 63px;
    width: 63px;
    top: 80%;
    right: 15%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &__content {
    height: 80vh;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  &__text {
    text-align: center;
    align-items: center;
    font-size: 4.7rem;
    text-transform: uppercase;
    line-height: 110px;
    letter-spacing: 30px;
    @include fontMontserrat;
    grid-column: 2/3;
    grid-row: 2/3;
    color: $greyDB;
    position: relative;
    padding-left: 30px;
  }

  &__grey-points {
    background-image: url('../assets/grey-points.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25%;
    left: 85%;
    transform: translate(-50%, -50%);
  }

  &__number-one {
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
  }

  &__number {
    font-size: 6.3rem;
    font-family: $abrilFatFace;
    margin-top: -25px;
  }

  &__textContent {
    display: flex;
    flex-direction: column;
    @include fontMontserrat;
    font-size: 1rem;
    color: $grey71;
    margin-left: 85px;
    line-height: 30px;
  }

  &__number-two {
    margin-left: 15%;
    margin-top: -60%;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 30%;
    position: relative;
  }

  &__textContent-2 {
    @include fontMontserrat;
    font-size: 1rem;
    color: $grey71;
    line-height: 30px;
    margin-top: 50px;
  }

  &__btn-more {
    margin-top: 40px;
    display: flex;
    position: relative;
    width: 360px;

    p {
      color: black;
      cursor: pointer;
    }
  }

  &__btn-more-2 {
    margin-top: 40px;
    display: flex;
    position: relative;
    width: 360px;

    p {
      color: black;
      cursor: pointer;
    }
  }

  &__arrow-btn {
    background-image: url('../assets/fleche.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 27%;
    top: 35%;
    cursor: pointer;
  }

  &__underline {
    position: absolute;
    width: 110px;
    height: 1px;
    background-color: $greyD9;
    top: 100%;
  }

  &__picto-gout-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    img {
      height: 600px;
    }
  }

  &__picto-gout-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 300px;
    margin-top: -10%;
    position: relative;

    img {
      height: 500px;
    }
  }

  &__orange-quotes {
    background-image: url('../assets/orange-quotes.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    left: -20%;
  }

  &__grey-quotes {
    background-image: url('../assets/grey-quotes.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 120%;
    top: 5%;
  }

  &__square-grey-points {
    background-image: url('../assets/grey-points.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 130%;
    left: 40%;
  }

  &__line-orange {
    background-image: url('../assets/ligne_orange.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;
    position: absolute;
    left: 90%;
    top: 5%;
  }

  &__line-orange-2 {
    background-image: url('../assets/ligne_orange.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;
    position: absolute;
    top: 145%;
    left: 40%;
  }

  &__grey-line {
    height: 100px;
    width: 1px;
    background-color: black;
  }

  &__picto {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  &__plane {
    background-image: url('../assets/plane.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-top: 120px;
  }

  &__picto-quotes {
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
  }

  &__picto-grey-quotes {
    background-image: url('../assets/grey-quotes.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 37px;
    width: 37px;
    position: absolute;
    top: 95%;
    left: 90%;
  }

  &__picto-ellispe {
    grid-column: 3/4;
    grid-row: 3/4;
    position: relative;
  }

  &__ellipse {
    background-image: url('../assets/ellipse-black.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    position: absolute;
    top: 100%;
    left: 70%;
  }
}
