@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@font-face {
  font-family: 'FuturaPT';
  src: url(../fonts/FuturaPTBook.otf);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #393939;
}

.login-component-container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  -webkit-box-shadow: #c8cbd1 5px 5px 20px;
          box-shadow: #c8cbd1 5px 5px 20px;
  position: relative;
  font-family: "FuturaPT", sans-serif;
  top: 3vh;
}

.login-container__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 100%;
  background-image: url("../assets/COQUE_Plan de travail 1.png");
  background-position: center;
  background-size: 130% auto;
  background-repeat: no-repeat;
}

.login-container__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: calc(100% - $widthLeftContainer);
  height: 100%;
}

.login-container__form-container > * {
  margin-bottom: 5%;
}

.login-container__form-container h1 {
  font-size: 2.5em;
}

.login-container__form-container form {
  width: 50%;
}

.login-container__form-container form input {
  padding: 15px;
  border: #181818 solid 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.login-container__form-container form #login-email {
  border-bottom: none;
}

.login-container__form-container form #login-email,
.login-container__form-container form #login-password {
  width: 100%;
}

.login-container__form-container form #login-submit {
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  margin-top: 15px;
}

.login-container__form-container input,
.login-container__form-container p {
  font-size: 1em;
  letter-spacing: 3px;
}

.login-container__form-container #login-submit,
.login-container__form-container #close,
.login-container__form-container #forgot-pswrd,
.login-container__form-container #signup {
  cursor: pointer;
}

.login-container__close {
  position: absolute;
  top: 20px;
  right: 30px;
}

.login-container__sign-up {
  -webkit-box-shadow: 0 -3px 0 #dbdbdb inset;
          box-shadow: 0 -3px 0 #dbdbdb inset;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-container__sign-up:hover {
  -webkit-box-shadow: 0 -15px 0 #dbdbdb inset;
          box-shadow: 0 -15px 0 #dbdbdb inset;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background-color: white;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar__logo {
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

.navbar__logo img {
  width: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin-right: 35px;
  font-size: 1.05rem;
}

.navbar__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  color: #393939;
}

.navbar__menu-burger {
  height: 100px;
  width: 100px;
  background-color: #79232f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__line {
  height: 2px;
  width: 25px;
  background-color: white;
}

.navbar__middle-line {
  height: 2px;
  width: 30px;
  background-color: white;
  margin: 10px 0;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  right: 0;
  z-index: 2;
  padding-top: 100px;
}

.sidebar__letter {
  height: 70px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.sidebar__box {
  height: 35px;
  width: 35px;
}

.sidebar__box img {
  width: 100%;
}

.sidebar__profil {
  height: 70px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__navigation {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75%;
}

.sidebar__arrow-up {
  cursor: pointer;
}

.sidebar__arrow-up img {
  height: 40px;
  width: auto;
}

.sidebar__arrow-down {
  margin-top: 50px;
  cursor: pointer;
}

.sidebar__arrow-down img {
  height: 40px;
  width: auto;
}

.sidebar__container-anchor {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sidebar__anchor {
  height: 1px;
  width: 10px;
  background-color: black;
  margin-top: 20px;
}

.sidebar__anchor-orange {
  height: 2px;
  width: 20px;
  background-color: #f89808;
  margin-top: 20px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  padding-top: 100px;
}

.home__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home__lunetic {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  color: #afafaf;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 0.3%;
}

.home__carousel-1 {
  height: 100%;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__carousel-1 h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
  text-align: left;
}

.home__title {
  position: relative;
}

.home__underline-orange {
  position: absolute;
  height: 10px;
  width: 235px;
  background-color: #f89808;
  top: 82px;
  left: -0.8%;
  z-index: -10;
}

.home__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-top: 2%;
  position: relative;
}

.home__paragraph .black-text {
  color: black;
}

.home__paragraph p {
  text-align: left;
  color: #95989a;
  font-size: 1rem;
  line-height: 1.6rem;
}

.home__right {
  margin-top: -100px;
  position: relative;
}

.home__left {
  width: 50%;
  padding-left: 5%;
}

.home__cube {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  height: 200px;
  width: 200px;
  background-color: #f4efd8;
  color: #79232f;
  position: absolute;
  top: 80%;
  left: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.home__arrow {
  background-image: url("../assets/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 40px;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home__points {
  background-image: url("../assets/points.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carousel .slider-wrapper {
  width: 100%;
  height: 70vh;
}

.left-arrow {
  position: absolute;
  top: 65%;
  left: 37%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../assets//arrow-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 10;
}

.right-arrow {
  position: absolute;
  top: 65%;
  left: 58%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../assets/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 10;
}

.conceptContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 100px;
}

.conceptContainer__mainLogoConcept img {
  width: 63vw;
}

.conceptContainer__subtitles {
  font-size: 6em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}

.conceptContainer__conceptIntro {
  font-size: 2.5em;
  padding-top: 4em;
  padding-bottom: 2em;
  font-weight: bold;
}

.conceptContainer__p {
  font-size: 5.8em;
  -webkit-transform: translate(0, -80%);
          transform: translate(0, -80%);
  opacity: 0.33;
  color: #95989a;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-weight: bolder;
  line-height: 1.8;
}

.conceptContainer__visuelConcept img {
  width: 80vw;
}

.conceptContainer__conceptDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8em;
  margin-bottom: 8em;
  font-family: "FuturaPT", sans-serif;
  padding-right: 3em;
}

.conceptContainer__conceptDescription p {
  max-width: 40%;
  font-size: 1.5em;
  text-align: justify;
  padding-left: 6em;
}

.conceptContainer__baskFlag img {
  height: 5vw;
  text-align: right;
}

.conceptContainer__orangeLine1 img {
  width: 6em;
  position: relative;
  top: -5em;
  left: 38em;
  z-index: 2;
}

.conceptContainer__scanPics {
  width: 100%;
  text-align: center;
}

.conceptContainer__scanPics img {
  width: 50vw;
}

.conceptContainer__orangeLine2 img {
  width: 6em;
  position: relative;
  top: 50em;
  left: 50em;
  z-index: 2;
}

.conceptContainer__conceptVideo {
  height: 75vh;
  width: 70vw;
  margin-top: 8em;
  margin-bottom: 8em;
  z-index: 1;
}

.conceptContainer__conceptVideo video {
  -o-object-fit: cover;
     object-fit: cover;
}

.conceptContainer__catchphrase {
  font-size: 3em;
  text-align: center;
  width: 55%;
  font-weight: bold;
  font-style: italic;
  margin-top: 4em;
}

.conceptContainer__verticalLine img {
  max-height: 8em;
  position: relative;
  top: 18em;
  left: -38em;
  z-index: 2;
}

.conceptContainer__littleCircle img {
  height: 2.4em;
  position: relative;
  top: 11em;
  left: -28em;
  z-index: 2;
}

.conceptContainer__greyLine1 img {
  height: 2.4em;
  position: relative;
  top: 3em;
  left: 18em;
  z-index: 2;
}

.conceptContainer__greyLine2 img {
  height: 10em;
  position: relative;
  top: 15em;
  left: 52em;
}

.conceptContainer__conceptBottomVisual img {
  margin-left: auto;
  width: 72vw;
  position: relative;
}

.conceptContainer__greyLine3 img {
  height: 9em;
  position: relative;
  top: -15em;
  left: -48em;
}

#conceptDescription2 {
  margin-right: 8em;
}

.nous {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nous__picto_goutte {
  width: 75%;
  height: auto;
}

.nous__h2 {
  font-size: 3em;
  padding: 1em;
  padding-bottom: 2em;
}

.nous__subtitles {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 4em;
}

.nous__rectangle1 {
  width: 3em;
  position: relative;
  right: -45%;
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
}

.nous__rectangle2 {
  width: 2em;
  position: relative;
  right: -35%;
  -webkit-transform: translateY(10em);
          transform: translateY(10em);
}

.nous__h3 {
  font-size: 2em;
}

.nous__p {
  font-size: 3.5em;
  -webkit-transform: translate(0, -60%);
          transform: translate(0, -60%);
  opacity: 0.33;
  color: #dbdbdb;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.nous__collaborateurs {
  width: 75%;
  height: auto;
}

.nous__miniBioContainer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 4em;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  width: 80%;
  font-size: 1.2em;
}

.nous__miniBioContainer p::first-letter {
  color: #79232f;
  font-size: 150%;
  letter-spacing: 1px;
}

.nous__bio1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 1em;
  max-width: 80%;
}

.nous__bio2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 1em;
  max-width: 80%;
}

.nous__bio3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 1em;
  max-width: 80%;
}

.nous__bio4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin: 1em;
  max-width: 80%;
}

.nous__bio5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin: 1em;
  max-width: 80%;
}

.nous__picto_lunettes {
  max-width: 30%;
  padding: 2em;
}

.nous__ellipse {
  max-width: 1em;
  position: relative;
  left: 30%;
  top: 2em;
}

.nous__partenaires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  padding: 2em;
}

.nous__logo {
  max-width: 13vw;
  padding: 2em;
}

.nous__ligne_oblique_1 {
  max-width: 1em;
  position: relative;
  left: 16%;
}

.nous__ligne_oblique_2 {
  position: relative;
  bottom: 11em;
  right: 40%;
}

@media screen and (max-width: 750px) {
  .nous__picto_goutte {
    width: 100%;
    height: auto;
  }
  .nous__h2 {
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 0;
  }
  .nous__subtitles {
    padding-top: 0;
  }
  .nous__miniBioContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section_ou_nous_trouver {
  padding-top: 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.section_ou_nous_trouver__h2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
  font: "Playfair Display", serif;
  font-weight: medium;
}

.section_ou_nous_trouver__carte_depliante {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-column-align: center;
      justify-self: center;
  max-height: 15%;
}

.section_ou_nous_trouver__points {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  max-width: 80%;
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
}

.section_ou_nous_trouver__trait_vertical {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  max-height: 80%;
  -webkit-transform: translate(1em, 2em);
          transform: translate(1em, 2em);
}

.section_ou_nous_trouver__moyen_cercle_gris {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
  height: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section_ou_nous_trouver__trait_oblique {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10/11;
  width: 4em;
}

.section_ou_nous_trouver__moyen_cercle_gris2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section_ou_nous_trouver__grand_trait_oblique {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
}

.section_ou_nous_trouver__petit_cercle_rouge {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  width: 1em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transform: translate(-1em, -2em);
          transform: translate(-1em, -2em);
}

.section_ou_nous_trouver__maps {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  width: 100vw;
  height: 100%;
}

.section_ou_nous_trouver__child1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-box-shadow: 0 0 20px 10px white inset;
          box-shadow: 0 0 20px 10px white inset;
  z-index: 25;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.catalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.catalogue__img {
  width: 80%;
  text-align: center;
}

.catalogue__title {
  text-align: center;
  font-size: 4em;
  margin-bottom: 10%;
}

.modelcard-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modelcard {
  min-width: 260px;
  max-width: 30%;
  -webkit-box-shadow: #f2f3fb -2px 2px 12px;
          box-shadow: #f2f3fb -2px 2px 12px;
  margin: 10px;
}

.modelcard p, .modelcard__title, .modelcard__img {
  margin-bottom: 5%;
}

.modelcard p {
  color: #999999;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

.modelcard__img {
  width: 100%;
}

.modelcard__button {
  background-color: transparent;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 5px;
  border: solid black 2px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modelcard__button:hover {
  background-color: #79232f;
  color: #f4efd8;
}

@media screen and (max-width: 768px) {
  .modelcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profile-component-container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.please-connect {
  padding-top: calc(25% - 50px);
  padding-left: 25%;
  font-size: 50px;
  font-family: "FuturaPT", sans-serif;
}

.optician-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80vh;
  position: relative;
  -webkit-box-shadow: #c8cbd1 5px 5px 20px;
          box-shadow: #c8cbd1 5px 5px 20px;
  top: 3vh;
}

.optician-profile__store-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

.optician-profile__store-name h1 {
  font-family: "Playfair Display", serif;
  font-size: 4em;
  text-align: center;
}

.optician-profile__data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 70%;
}

.optician-profile__info-texts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
  height: 80%;
  margin: auto;
}

.optician-profile__info-icons {
  height: 80%;
  margin-left: 15%;
}

.optician-profile__info-subcontainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc((100% - $heightStoreName) / 3);
}

.optician-profile__info-subcontainers p {
  font-size: 1.3em;
  margin-left: 5%;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.optician-profile__info-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - $widthInfo);
  position: relative;
}

.optician-profile__profile-picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - $heightStoreName);
}

.optician-profile__profile-picture {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.optician-profile__profile-picture-container, .optician-profile__profile-picture {
  border-radius: 5px;
}

.optician-profile__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1em;
  letter-spacing: 3px;
  cursor: pointer;
}

.optician-profile__edit {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  background: #79232f;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.optician-profile__save-changes {
  position: absolute;
  bottom: 4%;
  right: 25%;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  background: #23794e;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

p {
  font-family: "FuturaPT", sans-serif;
}

hr {
  width: 80%;
  margin: auto;
  border: solid 1px #f3f3f3;
}

input[type='text'] {
  border: #f4efd8 solid 1px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: "FuturaPT", sans-serif;
  font-size: 0.8em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type='text']:hover {
  background-color: #f4efd8;
  border: #79232f solid 1px;
}

.whatIsLunetic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

.whatIsLunetic__subtitle {
  position: relative;
  width: 100%;
}

.whatIsLunetic__container {
  position: relative;
}

.whatIsLunetic__p {
  font-size: 8.75rem;
  text-align: center;
  line-height: 170px;
  color: #f3f3f3;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.whatIsLunetic__middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}

.whatIsLunetic__medium-square {
  background-image: url("../assets/carre-moyen.png");
  height: 88px;
  width: 88px;
  top: 0;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.whatIsLunetic__little-square {
  background-image: url("../assets/carre-moyen.png");
  height: 63px;
  width: 63px;
  top: 80%;
  right: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.whatIsLunetic__content {
  height: 80vh;
  margin-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
}

.whatIsLunetic__text {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.7rem;
  text-transform: uppercase;
  line-height: 110px;
  letter-spacing: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: #dbdbdb;
  position: relative;
  padding-left: 30px;
}

.whatIsLunetic__grey-points {
  background-image: url("../assets/grey-points.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 25%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.whatIsLunetic__number-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
}

.whatIsLunetic__number {
  font-size: 6.3rem;
  font-family: "Abril Fatface", serif;
  margin-top: -25px;
}

.whatIsLunetic__textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #717171;
  margin-left: 85px;
  line-height: 30px;
}

.whatIsLunetic__number-two {
  margin-left: 15%;
  margin-top: -60%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-left: 30%;
  position: relative;
}

.whatIsLunetic__textContent-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #717171;
  line-height: 30px;
  margin-top: 50px;
}

.whatIsLunetic__btn-more {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 360px;
}

.whatIsLunetic__btn-more p {
  color: black;
  cursor: pointer;
}

.whatIsLunetic__btn-more-2 {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 360px;
}

.whatIsLunetic__btn-more-2 p {
  color: black;
  cursor: pointer;
}

.whatIsLunetic__arrow-btn {
  background-image: url("../assets/fleche.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 27%;
  top: 35%;
  cursor: pointer;
}

.whatIsLunetic__underline {
  position: absolute;
  width: 110px;
  height: 1px;
  background-color: #d9d9d9;
  top: 100%;
}

.whatIsLunetic__picto-gout-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.whatIsLunetic__picto-gout-1 img {
  height: 600px;
}

.whatIsLunetic__picto-gout-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 300px;
  margin-top: -10%;
  position: relative;
}

.whatIsLunetic__picto-gout-2 img {
  height: 500px;
}

.whatIsLunetic__orange-quotes {
  background-image: url("../assets/orange-quotes.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  left: -20%;
}

.whatIsLunetic__grey-quotes {
  background-image: url("../assets/grey-quotes.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 120%;
  top: 5%;
}

.whatIsLunetic__square-grey-points {
  background-image: url("../assets/grey-points.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 130%;
  left: 40%;
}

.whatIsLunetic__line-orange {
  background-image: url("../assets/ligne_orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 65px;
  width: 65px;
  position: absolute;
  left: 90%;
  top: 5%;
}

.whatIsLunetic__line-orange-2 {
  background-image: url("../assets/ligne_orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 65px;
  width: 65px;
  position: absolute;
  top: 145%;
  left: 40%;
}

.whatIsLunetic__grey-line {
  height: 100px;
  width: 1px;
  background-color: black;
}

.whatIsLunetic__picto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.whatIsLunetic__plane {
  background-image: url("../assets/plane.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 120px;
}

.whatIsLunetic__picto-quotes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
}

.whatIsLunetic__picto-grey-quotes {
  background-image: url("../assets/grey-quotes.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 37px;
  width: 37px;
  position: absolute;
  top: 95%;
  left: 90%;
}

.whatIsLunetic__picto-ellispe {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  position: relative;
}

.whatIsLunetic__ellipse {
  background-image: url("../assets/ellipse-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 100%;
  left: 70%;
}

.carouselGlasses {
  padding: 20px;
  margin: 10% 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.carouselGlasses__radio {
  display: none;
}

.carouselGlasses__slider {
  height: 35vw;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.carouselGlasses__slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.carouselGlasses__title {
  text-align: center;
  font-size: 5.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5%;
}

.carouselGlasses__orange-line {
  background-image: url("../assets/ligne_orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 25%;
  left: 20%;
}

.carouselGlasses__grey-points {
  background-image: url("../assets/grey-points.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 10%;
  left: 75%;
}

.carouselGlasses__little-grey-circle {
  background-image: url("../assets/petit-cercle-gris.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 10%;
  left: 15%;
}

.carouselGlasses__little-grey-circle--2 {
  background-image: url("../assets/petit-cercle-gris.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 120%;
  left: 10%;
}

.carouselGlasses__grey-quotes {
  background-image: url("../assets/grey-quotes.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 30%;
  left: 60%;
}

.carouselGlasses__little-grey-line {
  background-image: url("../assets/petit-trait-gris.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 120%;
  left: 35%;
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(-70%, -150px, -200px) scale(0.5);
          transform: translate3d(-70%, -150px, -200px) scale(0.5);
  opacity: 0.5;
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  -webkit-box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translate3d(0, 150px, 0);
          transform: translate3d(0, 150px, 0);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transform: translate3d(70%, -150px, -200px) scale(0.5);
          transform: translate3d(70%, -150px, -200px) scale(0.5);
  opacity: 0.5;
}

.pointer-events {
  pointer-events: none;
}

.montures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
      grid-template-rows: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
  grid-gap: 1%;
  width: 95%;
  overflow: hidden;
  justify-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 3;
  background-color: none;
  padding-top: 100px;
}

.montures__headLunettes1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  left: -20%;
  z-index: 2;
}

.montures__headLunettes1 img {
  width: 35vw;
}

.montures__headLunettes2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 23%;
  z-index: 2;
}

.montures__headLunettes2 img {
  width: 20vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.montures__headLunettes3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  left: 50%;
  z-index: 2;
}

.montures__headLunettes3 img {
  width: 40vw;
}

.montures__headLunettes4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 80%;
  position: relative;
  left: 15%;
  top: -40%;
  z-index: 1;
}

.montures__headLunettes4 img {
  width: 75vw;
  text-align: center;
}

.montures__headLunettes5 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  position: relative;
  left: -30%;
  top: -25%;
}

.montures__headLunettes5 img {
  width: 45vw;
}

.montures__subtitles {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  font-size: 6em;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}

.montures__pictoGoutte {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  position: relative;
  left: 15%;
}

.montures__pictoGoutte img {
  width: 20vw;
}

.montures__presentationText1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}

.montures__lunettesPresentation1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  grid-row: 4;
  width: 80%;
}

.montures__lunettesPresentation1 img {
  width: 60vw;
  text-align: left;
}

.montures__presentationText2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 5;
  grid-row: 5;
  z-index: 2;
  position: relative;
  left: 50%;
}

.montures__lunettesCenter1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 6;
  grid-row: 6;
  width: 100%;
  position: relative;
  top: -40%;
  z-index: 1;
}

.montures__lunettesCenter1 img {
  width: 100vw;
  text-align: center;
}

.montures__lunettesPresentation2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 7;
  grid-row: 7;
  width: 100%;
}

.montures__lunettesPresentation2 img {
  width: 50vw;
  text-align: left;
}

.montures__presentation3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 7;
  grid-row: 7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -20%;
  top: -10%;
}

.montures__presentationText3 {
  position: relative;
  left: -10%;
}

.montures__pictoGoutteScan img {
  height: 75%;
  text-align: center;
}

.montures__lunettesCenter2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 8;
  grid-row: 8;
  width: 100%;
}

.montures__lunettesCenter2 img {
  width: 100vw;
  text-align: center;
}

.montures__presentationText4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 9;
  grid-row: 9;
  padding-left: 20em;
}

.montures__subtitlesStart {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 9;
  grid-row: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 6.3em;
  font-weight: bold;
  padding-left: 1em;
  position: relative;
  top: 20%;
}

.montures__presentationText5 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 10;
  grid-row: 10;
  position: relative;
  left: 20%;
}

.montures__presentationText6 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 10;
  grid-row: 10;
  position: relative;
  left: 20%;
}

.montures__presentationText7 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 10;
  grid-row: 10;
  position: relative;
  left: 20%;
}

.montures__lunettesBottom1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 11;
  grid-row: 11;
  position: relative;
  left: 20%;
}

.montures__lunettesBottom1 img {
  width: 100%;
}

.montures__lunettesBottom2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 11;
  grid-row: 11;
  padding-left: 2em;
  position: relative;
  left: 20%;
}

.montures__lunettesBottom2 img {
  width: 100%;
}

.montures__lunettesBottom3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 11;
  grid-row: 11;
  padding-left: 2em;
  position: relative;
  left: 20%;
}

.montures__lunettesBottom3 img {
  width: 100%;
}

.mapssearchbar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: 3 / 4 / 4 / 8;
}

.mapssearchbar input {
  color: #79232f;
  height: 3em;
  width: 20vw;
  border: solid grey;
  border: none;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 3rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 20;
}

.mapssearchbar input:focus {
  outline-color: none;
  outline: none;
  padding-left: 1em;
}

.mapssearchbar input::-webkit-input-placeholder {
  color: grey;
  padding-left: 1em;
}

.mapssearchbar input:-ms-input-placeholder {
  color: grey;
  padding-left: 1em;
}

.mapssearchbar input::-ms-input-placeholder {
  color: grey;
  padding-left: 1em;
}

.mapssearchbar input::placeholder {
  color: grey;
  padding-left: 1em;
}

[data-reach-combobox-option] {
  cursor: pointer;
  font-size: 1.5em;
  color: grey;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

[data-reach-combobox-input] {
  border: 10px;
}

.monturesDetails1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12em;
}

.monturesDetails1__number1 {
  width: 45%;
  font-size: 7em;
  font-family: "Abril Fatface", serif;
  text-align: right;
  padding-right: 0.8em;
}

.monturesDetails1__text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  line-height: 1.8;
}

.monturesDetails1__btn {
  width: 8em;
  margin-top: 3em;
  background-color: white;
  border: none;
  -webkit-text-decoration: underline #c5bfbf;
          text-decoration: underline #c5bfbf;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: left;
}

.monturesDetails2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 12em;
  width: 28vw;
}

.monturesDetails2__number2 {
  font-size: 7em;
  font-family: "Abril Fatface", serif;
  text-align: left;
  padding-right: 0.8em;
}

.monturesDetails2__orangeQuotes {
  position: relative;
  left: -15%;
}

.monturesDetails2__orangeQuotes img {
  width: 1.8vw;
}

.monturesDetails2__text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  line-height: 1.8;
}

.monturesDetails2__btn {
  width: 8em;
  margin-top: 3em;
  background-color: white;
  border: none;
  -webkit-text-decoration: underline #c5bfbf;
          text-decoration: underline #c5bfbf;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: left;
}

.contactPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr 1fr 2fr 3fr;
      grid-template-rows: 1fr 1fr 2fr 3fr;
  width: 80%;
  margin: auto;
  height: 80vh;
  position: relative;
  top: 8em;
  -webkit-box-shadow: #c8cbd1 5px 5px 20px;
          box-shadow: #c8cbd1 5px 5px 20px;
}

.contactPage__close {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
  position: absolute;
  top: 20px;
  right: 30px;
  font-family: "FuturaPT", sans-serif;
  font-size: 1em;
  letter-spacing: 3px;
  cursor: pointer;
}

.contactPage__visuelTop {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  position: absolute;
  top: 2em;
}

.contactPage__visuelTop img {
  height: 3vh;
}

.contactPage__subtitle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5.5em;
  margin-top: 1.6em;
  position: relative;
  left: 25%;
}

.contactPage__eyeVisual {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  width: 100%;
  position: relative;
  top: -8em;
}

.contactPage__eyeVisual img {
  width: 60em;
  justify-items: center;
}

.contactPage__email {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  font-family: "FuturaPT", sans-serif;
  padding-left: 20em;
}

.contactPage__requests {
  font-size: 1.8em;
}

.contactPage__emailText {
  font-size: 5em;
  text-decoration: underline;
  padding-top: 0.6em;
}

.contactPage__emailLink {
  font-size: 3em;
}

#fleche1 {
  font-size: 0.5em;
  position: relative;
  top: -0.3em;
  left: -1em;
}
/*# sourceMappingURL=styles.css.map */